:root {
  --140: 140%;
  --150: 150%;
  --160: 160%;
  --base-space: 4;
  --space-1: 4;
  --space-2: 8;
  --space-3: 12;
  --space-4: 16;
  --space-5: 20;
  --space-6: 24;
  --space-7: 28;
  --space-8: 32;
  --space-9: 36;
  --space-10: 40;
  --space-11: 44;
  --space-12: 48;
  --space-13: 52;
  --space-14: 56;
  --space-15: 60;
  --space-16: 64;
  --black: #000000;
  --white: #ffffff;
  --gray-100: #e1e1e1;
  --gray-200: #c4c4c4;
  --gray-300: #a6a6a6;
  --gray-400: #898989;
  --gray-500: #6b6b6b;
  --gray-600: #565656;
  --gray-700: #404040;
  --gray-800: #2b2b2b;
  --gray-900: #151515;
  --red-100: #ffcccc;
  --red-200: #ff9999;
  --red-300: #ff6666;
  --red-400: #ff3333;
  --red-500: #ff0000;
  --red-600: #cc0000;
  --red-700: #990000;
  --red-800: #660000;
  --red-900: #330000;
  --yellow-100: #fff4cc;
  --yellow-200: #ffe999;
  --yellow-300: #ffdd66;
  --yellow-400: #ffd233;
  --yellow-500: #ffc700;
  --yellow-600: #cc9f00;
  --yellow-700: #997700;
  --yellow-800: #665000;
  --yellow-900: #332800;
  --blue-100: #cce3ff;
  --blue-200: #99c8ff;
  --blue-300: #66acff;
  --blue-400: #3391ff;
  --blue-500: #0075ff;
  --blue-600: #005ecc;
  --blue-700: #004699;
  --blue-800: #002f66;
  --blue-900: #001733;
  --green-100: #d7f8cc;
  --green-200: #b0f199;
  --green-300: #88eb66;
  --green-400: #61e433;
  --green-500: #39dd00;
  --green-600: #2eb100;
  --green-700: #228500;
  --green-800: #175800;
  --green-900: #0b2c00;
  --info-accent: #0075ff;
  --info-negative: #ff0000;
  --info-warning: #ffc700;
  --info-positive: #39dd00;
  --info-positive-transparent: #39dd001a;
  --info-negative-transparent: #ff00001a;
  --pretendard: Pretendard;
  --regular: Regular;
  --bold: Bold;
  --semi-bold: SemiBold;
  --font-scale: 1.333;
  --default: 16;
  --small: 12.003;
  --medium: 16;
  --large: 21.328;
  --xl: 28.43;
  --xxl: 37.897;
  --xxxl: 50.517;
  --heading-medium: Bold 16/140% Pretendard;
  --heading-large: Bold 21.328/140% Pretendard;
  --heading-xl: Bold 28.43/140% Pretendard;
  --heading-xxl: Bold 37.897/140% Pretendard;
  --heading-xxxl: Bold 50.517/140% Pretendard;
  --label-small: SemiBold 12.003/150% Pretendard;
  --label-medium: SemiBold 16/150% Pretendard;
  --label-large: SemiBold 21.328/150% Pretendard;
  --label-xl: SemiBold 28.43/150% Pretendard;
  --label-xxl: SemiBold 37.897/150% Pretendard;
  --paragraph-small: Regular 12.003/160% Pretendard;
  --paragraph-medium: Regular 16/160% Pretendard;
  --paragraph-large: Regular 21.328/160% Pretendard;
  --paragraph-xl: Regular 28.43/160% Pretendard;
  --button: 20;
  --above-high: 0 -16 48 0 #0000004d;
  --above-medium: 0 -8 36 0 #00000033;
  --above-low: 0 -4 24 0 #0000001a;
  --below-high: 0 16 48 0 #0000004d;
  --below-medium: 0 8 36 0 #00000033;
  --below-low: 0 4 24 0 #0000001a;
  --pink-100: #f8ccf9;
  --pink-200: #f099f2;
  --pink-300: #e966ec;
  --pink-400: #e233e5;
  --pink-500: #db00df;
  --pink-600: #af00b2;
  --pink-700: #830086;
  --pink-800: #570059;
  --pink-900: #2c002d;
  --oragne-orange: #fc9300;
}