.light-theme {
  --primary: #0075ff;
  --secondary: #ffffff;
  --tertiary: #f5f5f5;
  --contents-content-primary: #000000;
  --contents-content-secondary: #6b6b6b;
  --contents-content-tertiary: #a6a6a6;
  --border-border-opaque: #898989;
  --border-border-transparent: #8989894d;
}